body{
  background-color: #aaa;
}
.sidebar{
  position: fixed;
  width: 30%;
  height: 95%;
  background-color: lightgray;
  border-style: solid;
  border-width: medium;
  right: 0;
  top: 0;
}
.bottombar{
  position: fixed;
  width: 100%;
  height: 5%;
  background-color: lightgray;
  border-style: solid;
  border-width: medium;
  bottom: 0;
}
.furnace {
  background: url(../img/A_The_Furnace_Rooms.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ccc;
  height: 600px;
  width: 900px;
}

.asylum {
  background: url(../img/Briarstone_Asylum.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ccc;
  margin: 0 50% 15% 0;
  height: 3200px;
  width: 2350px;
}
.container {
  position: static;
  width: 180%;
}

.drag{
  position: absolute;
    background: none;
    color: white;
}
.dragspot{
  display: inline;
  font-size: 20px;
  padding: 0px 0px 0px 0px;
}
.reveal{
  position: absolute;
  top: 283px;
  left: 296px;
  background: none;
  color: white;
  border-style: groove;
  border-width: medium;
  width: 30px;
  height: 30px;
}
button:focus{

}

.A1aDrag{
  top: 260px;
  left: 270px;
}
.toplevel{
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
.check{
  color: #5c5;
  font-weight: bold;
}
.collapse{
  background-color: rgba(181, 101,29, 0.5);
  max-width: 800px;
  min-width: 400px;
}
.indent{
  padding-left: 25px;
}